<br/>
<%= render 'layouts/navfront' %>
<div class="jumbotron">
  <h1>Epicsteme University<br/> <small>by Chris Mikelson</small></h1>
  <p>Developed for Epicsteme Inc.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="http://chrismikelson.com">Learn more</a>&nbsp;<a class="btn btn-primary btn-lg" role="button" href="#">Sign Up</a></p>
</div>