<br/>
<%= render 'layouts/navfront' %>

<div class="jumbotron">
	
	  
	  
	<% if user_signed_in? %>
		<h1>Epicsteme University</h1>
			<p>You have signed in to Epicsteme.</p>
	<% else %>
		<h1>Epicsteme University<br/> <small>by Chris Mikelson</small></h1>
			<p>Developed for Epicsteme Inc.</p>
			<p><%= link_to "Learn More", about_path, :class => "btn btn-primary btn-lg" %>&nbsp;<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-lg" %></p>
	<% end %>
</div>